*{
	margin:0;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.head-img{
	width: 40%;
}
.wa-img{
	margin-left: 45%;
	width: 50%;
}
.grid-header{
	display: grid;
	grid-template-columns: 40% 30% 30%;
  	background-color: black;
}
.header-1{
	width: 60%;
	margin-left: 2%;
}
.header-2{
	display: grid;
	grid-template-columns: 70% 0% 30%;
	align-items: center;
}
.button-head{
	width: 100%;
	padding: 11% 0 11% 0;
	color: white;
	font-size: 20px;
	border-style: none;
	border-right: 2px solid;
	border-left: 2px solid;
	background-color: transparent;
}
.button-head:hover{
	cursor: pointer;
}
a:active,a:visited{
	color: white;
}
@media screen and (max-height: 900px){
	.grid-header{
		grid-template-columns: 40% 0% 60%;
	}
	.head-img{
		width: 100%;
	}
	.wa-img{
		width: 80%;
	}
	.header-2{
		grid-template-columns: 50% 20% 30%;
	}
	.button-head{
		font-size: 8px;
		padding: 17% 0 17% 0;
	}
	button:hover,button:active,button:visited{
		color: white;
	}

}