.head-login{
	width:70%;
	margin:5% 15% 0 15%;
	text-align: center;
}
form{
	width: 30%;
	margin: 0 35% 0 35%;
	padding: 3% 0 5% 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 1), 0 0px 100px 0 rgba(0, 0, 0, 0.19);
	background-color: #f2f2f2;
	position:relative;
	z-index:2;
}
.label{
	margin-bottom: 5%;
	font-size: 30px;
	text-shadow: 1px 0px 3px;
	text-align: center;
	background: #e3e8e5;
	padding: 1% 0 1% 0;
}
input{
	width: 80%;
	margin: 1% 10% 0 10%;
	padding: 2% 0 2% 0;
	border-style: none;
	outline: none;
	background-color: #e3e8e5;
	border-bottom: 1px solid black;
	font-size: 20px;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
input[type='submit']{
	margin-top: 3%;
	font-size: 20px;
	border-radius: 5px;
	border-style: none;
	font-weight: 600;
	color: white;
	background-color: #2a3a75;
}
input[type='submit']:hover{
	cursor: pointer;
}
.register{
	font-size: 15px;
	margin: 5% 0 0 10%;
}
.footer{
 	position: fixed;
 	background-color: black;
 	text-align: center;
 	height: 30%;
 	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}
hr{
	opacity: 0.1;
}
.copyright{
	color: white;
	position:fixed;
	bottom:2px;
	width:100%;
}
.button-regis:visited,.button-regis:active{
	color: #2a3a75;
}
@media screen and (max-height: 900px){
	.head-login{
		width: 90%;
		margin: 25% 5% 3% 5%;
	}
	input{
		font-size: 14px;
		margin-top: 5px;
	}
	form{
		width: 80%;
		margin: 0 10% 0 10%;
		border-radius: 5px;
	}
	.label{
		font-size: 15px;
	}
	input[type='submit']{
		margin-top: 6%;
		padding: 3% 0 3% 0;
		border-radius: 2px;
		font-size: 17px;
	}
	.register{
		font-size: 10px;
	}
}