.container-1{
	width: 30%;
	height: 550px;
	margin-top: 20px;
	margin-left: 35%;
	margin-right: 35%;
	background-color: white;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.f-profile{
	max-width: 400px;
	max-height: 200px;
}
.text-profile{
	padding-top: 20px;
	margin-bottom: 30px;
	font-size: 48px;
}
.table-profile{
	width: 60%;
	margin-top: 20px;
	margin-left: 30%;
	padding-bottom: 30px;
}
.footer{
 	position: fixed;
 	background-color: black;
 	text-align: center;
 	height: 30%;
 	bottom: 0px;
	left: 0px;
	right: 0px;
}
.hubungi{
	font-family: "Abel";
	color: white;
	margin-top: 0.5%;
	text-align: center;
}
.grid-medsos{
	display: grid;
	margin-top: 1%;
	margin-left: 40%;
	margin-right: 40%;
	grid-template-columns: 25% 25% 25% 25%;
	justify-items: center;
  	align-items: center;
}
.medos{
	width: 50%;
}
.medos:hover{
	cursor: pointer;
}
hr{
	opacity: 0.1;
}
.copyright{
	color: white;
	position:fixed;
	bottom:2px;
	width:100%;
}
@media screen and (max-height: 900px){
	.container-1{
		width: 100%;
		margin:0;
		height: 650px;
	}
	.profile{
		width: 100%;
	}
	.table-profile{
		width: 90%;
		margin:0 5% 0 5%;
        border-collapse: collapse;
	}
	.hubungi{
		margin-top: 5%;
	}
	.grid-medsos{
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
	}
}