.container{
	width: 50%;
	margin: 1% 25% 0 25%;
	padding: 3% 0 3% 0;
	box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 1), 0 0px 100px 0 rgba(0, 0, 0, 0.19);
}
.label{
	text-align: center;
	margin-bottom: 5%;
	font-size: 30px;
	text-shadow: 1px 1px 3px;
	padding: 1% 0 1% 0;
	background: #e3e8e5;
}
.form-register{
	width: 80%;
	margin: 0 10% 0 10%;
}
.grid-alamat{
	display: grid;
	grid-template-columns: 20% 39.5% 1% 39.5%;
	margin: 2% 0 1% 0;
	align-items: center;
	justify-content: center;
}
select{
	height: 200%;
}
input{
	width: 100%;
	margin-top: 1%;
	padding: 1.5% 0 1.5% 0;
	font-size: 20px;
	border-style: none;
	outline: none;
	border-bottom: 1px solid black;
	background-color: #e3e8e5;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
input[type='file']{
	border-style: none;
	background-color: white;
}
.grid-fprofil{
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	justify-content: center;
}
.grid-medsos{
	margin-top: 2%;
}
.grid-akun{
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	justify-content: center;
}
.grid-checkbox{
	display: grid;
	width: 35%;
	margin: 4% 0 0 0;
	grid-template-columns: 90% 10%;
}
input[type='submit']{
	padding: 2.5% 0 2.5% 0;
	border-radius: 3px;
	border-bottom: none;
	font-weight: 900;
	color: white;
	background-color: #a8a8a8;
}
@media screen and (max-height: 900px){
	.container{
		width: 100%;
		margin:0;
		font-size: 12px;
	}
	.form-register{
		width: 98%;
		font-size: 15px;
		margin: 1% 1% 3% 1%;
	}
	.label{
		font-size: 25px;
	}
	h4{
		font-size: 12px;
	}
	select{
		height: 140%;
	}
	input[type='file']{
		font-size: 12px;
	}
	.grid-akun{
		grid-template-columns: 25% 75%;
	}
	.grid-checkbox{
		width: 60%;
		margin-bottom: 3%;
	}
	input[type='submit']{
		border-radius: 3px;
		padding: 4% 0 4% 0;
	}
}