*{
	margin:0;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.grid-header{
	display: grid;
	grid-template-columns: 60% 10% 30%;
	align-items: center;
	background-color: black;
}
.head-img{
	width: 25%;
}
.header-1{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 67%;
	margin-left: 2%;
}
.dropdown-content a{
	color: black;
	width: 100%;
	padding: 10px 0 10px 0;
	text-decoration: none;
  	display: inline-block;
	background-color: white;
	border-bottom: 1px #c2c2c2 solid;
	text-align: center;
}
.dropdown {
	position: relative;
	font-size: 13px;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a:hover {background-color: #a6a6a6;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}

.button-signup{
	font-size: 18px;
	margin-left: 35%;
	padding: 7% 15% 7% 15%;
	background-color: #2a3a75;
	border-style: none;
	border-radius: 20px;
}
.button-signup:hover{
	cursor: pointer;
	background-color: #2a3a75;
}
.grid-button-header{
	display: grid;
	grid-template-columns: 24.5% 0.5% 24.5% 0.5% 24.5% 0.5% 24.5% 0.5%;
}
.button-head{
	width: 100%;
	padding: 15% 0 15% 0;
	color: white;
	font-size: 15px;
	border-style: none;
	border-right: 1px solid;
	border-left: 1px solid;
	background-color: transparent;
	font-weight: 600;
}
@media screen and (max-height: 900px){
	  .head-img{
	    width: 100%;
	  }
	  .grid-header{
	    grid-template-columns: 100%; /* Mengubah tata letak menjadi satu kolom saat di layar kecil */
	  }
	  .header-1{
	    width: 100%;
	    margin-left: 0;
	    text-align: center; /* Pusatkan konten di header-1 */
	  }
	  .header-2{
	  	display: none;
	  }
	  
}
